#main-footer {
    background: #343a40;
    color: #ffff
}

#page-header {
    height: 200px;
    background: url('../assets/img/gidon-wessner-SZtLK_W7vKo-unsplash.jpg');
    background-position: 84% 60%;
    background-attachment: fixed;
    background-size: 100%;
    color: #fff;
    border-bottom: 1px #eee solid;
    padding-top: 60px;
}